<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Return HTML Status Code to Home Assistant Sensor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://fastly.jsdelivr.net/npm/mermaid@9.4.0/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({
        startOnLoad: true,
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js" integrity="sha512-hpZ5pDCF2bRCweL5WoA0/N1elet1KYL5mx3LP555Eg/0ZguaHawxNvEjF6O3rufAChs16HVNhEc6blF/rZoowQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-sv0slik/5O0JIPdLBCR2A3XDg/1U3WuDEheZfI/DI5n8Yqc3h5kjrnr46FGBNiUAJF7rE4LHKwQ/SoSLRKAxEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/lucide@0.115.0/dist/umd/lucide.min.js"></script>
<script>
    // Create callout icons
    window.addEventListener("load", () => {
        document.querySelectorAll(".callout").forEach((elem) => {
            const icon = getComputedStyle(elem).getPropertyValue('--callout-icon');
            const iconName = icon && icon.trim().replace(/^lucide-/, "");

            if (iconName) {
                const calloutTitle = elem.querySelector(".callout-title");

                if (calloutTitle) {
                    const calloutIconContainer = document.createElement("div");
                    const calloutIcon = document.createElement("i");

                    calloutIconContainer.appendChild(calloutIcon);
                    calloutIcon.setAttribute("icon-name", iconName);
                    calloutIconContainer.setAttribute("class", "callout-icon");
                    calloutTitle.insertBefore(calloutIconContainer, calloutTitle.firstChild);
                }
            }
        });

        lucide.createIcons();

        // Collapse callouts
        Array.from(document.querySelectorAll(".callout.is-collapsible")).forEach((elem) => {
            elem.querySelector('.callout-title').addEventListener("click", (event) => {
                if (elem.classList.contains("is-collapsed")) {
                    elem.classList.remove("is-collapsed");
                } else {
                    elem.classList.add("is-collapsed");
                }
            });
        });
    });
</script>


<script src="https://fastly.jsdelivr.net/npm/force-graph@1.43.0/dist/force-graph.min.js"></script>

<script defer src="https://fastly.jsdelivr.net/npm/@alpinejs/persist@3.11.1/dist/cdn.min.js"></script>
<script src="https://fastly.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js" defer></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-okaidia.min.css" integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
<script src="https://fastly.jsdelivr.net/npm/whatwg-fetch@3.6.2/dist/fetch.umd.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<link href="/styles/digital-garden-base.css" rel="stylesheet">
    <link href="/styles/style.css" rel="stylesheet">


<link href="/styles/custom-style.css" rel="stylesheet"><link href="/styles/user/pywrite.css" rel="stylesheet">
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="manifest" href="/manifest.webmanifest">





<style></style>
    
      <script async src="https://soup.tawtaw.site/ramen" data-website-id="fa4f8c5b-4767-4821-b063-f62c4cb90223"></script>
    
    
  </head>
  <body class="theme-dark markdown-preview-view markdown-rendered markdown-preview-section ">
    
    
    
      
    <nav class="navbar">
        <div class="navbar-inner">
            <a href="/" style="text-decoration: none;">
                <h1 style="margin: 15px !important;">Digital Garden</h1>
            </a>
        </div>
        
    </nav>
    
    

    

    <main class="content cm-s-obsidian ">
      <header>
        
        <div class="header-meta">
          </div>
      
      
      </header>
      
      
      <p>Scrape a website and return it's status code to a <a class="internal-link" target="" data-note-icon="" href="/developer/Home Lab 🏠/Home Assistant/">developer/Home Lab 🏠/Home Assistant</a> sensor. This builds off of my <a class="internal-link" target="" data-note-icon="" href="/developer/Home Assistant/TV Power and Switch Template/">developer/Home Assistant/TV Power and Switch Template</a>.</p>
<h2 id="dashboard-screenshot" tabindex="-1">Dashboard Screenshot</h2>
<p><picture src="/img/user/attachments/HA-html-status-code%201.png" alt="attachments/HA-html-status-code 1.png|HA-html-status-code"><source       media="(max-width:480px)"
      srcset="/img/optimized/PKmQUN2_CS-500.webp"
      type="image/webp"
      >
      <source       media="(max-width:480px)"
      srcset="/img/optimized/PKmQUN2_CS-500.jpeg"
      >
      <source         media="(max-width:1920px)"
        srcset="/img/optimized/PKmQUN2_CS-700.webp"
        type="image/webp"
        ><source         media="(max-width:1920px)"
        srcset="/img/optimized/PKmQUN2_CS-700.jpeg"
        ><img       class=""
      src="/img/user/attachments/HA-html-status-code%201.png"
      alt="attachments/HA-html-status-code 1.png|HA-html-status-code"
      width=""
      ></picture></p>
<h2 id="local-file-template-sensor" tabindex="-1">Local File  + Template Sensor</h2>
<p>Later I explain a <strong>Command Line Method</strong> to do this only within Home Assistant, but I had a lot of false positives (or in this case, true negatives). This method assumes you have a separate machine (using my <a class="internal-link" target="" data-note-icon="" href="/developer/Hardware/Pi4/">developer/Hardware/Pi4</a>) to run the <code>curl</code> commands, share files via <a class="internal-link" target="" data-note-icon="" href="/developer/Linux/SAMBA Share/">developer/Linux/SAMBA Share</a>, and set up a <strong>Local File Sensor</strong> in Home Assistant</p>
<h3 id="curl-hmtl-status-from-website" tabindex="-1">Curl HMTL Status from Website</h3>
<p>I go more in depth with my <a class="internal-link" target="" data-note-icon="" href="/developer/Linux/Monitor Website's HTML Status Code with Bash Script/">developer/Linux/Monitor Website's HTML Status Code with Bash Script</a>, but here is the gist</p>
<pre><code class="language-bash">#!/bin/bash

cd ~/html-status-codes

declare -a WEBSITES
WEBSITES+=( 
  &quot;https://make-a-gram.williamusic.com&quot;
  &quot;https://www.tawtaw.site/home&quot;
)

for website in &quot;${WEBSITES[@]}&quot;
do
  # remove any bad chars for filenames
  FILENAME=$(sed -E 's/(http|https):\/\///g' &lt;&lt;&lt; $website | sed 's/\//_/g')
  test -e &quot;./logs/$FILENAME.log&quot; || touch ./logs/$FILENAME.log
  curl -o /dev/null -s -w &quot;%{http_code}&quot; $website &gt; &quot;./logs/$FILENAME.log&quot;
done
</code></pre>
<p>Set this script to run in a <a class="internal-link" target="" data-note-icon="" href="/developer/Linux/Crontab/">developer/Linux/Crontab</a> and setup a <a class="internal-link" target="" data-note-icon="" href="/developer/Linux/SAMBA Share/">developer/Linux/SAMBA Share</a>. In my case my directory will be <code>~/html-status-codes/logs</code></p>
<h3 id="add-network-storage" tabindex="-1">Add Network Storage</h3>
<p>Home Assistant now supports mounting network storage via the UI (you may have to update you HA to get this feature) <code>http://HOMEASSISTANT_HOSTNAME:8123/config/storage</code></p>
<p>On this page <button>Add Network Storage</button>  with the username, password, and folder</p>
<p><picture src="/img/user/attachments/HA-network-smb%201.png" alt="attachments/HA-network-smb 1.png|HA-network-smb"><source       media="(max-width:480px)"
      srcset="/img/optimized/sUULu9-1DM-500.webp"
      type="image/webp"
      >
      <source       media="(max-width:480px)"
      srcset="/img/optimized/sUULu9-1DM-500.jpeg"
      >
      <source         media="(max-width:1920px)"
        srcset="/img/optimized/sUULu9-1DM-700.webp"
        type="image/webp"
        ><source         media="(max-width:1920px)"
        srcset="/img/optimized/sUULu9-1DM-700.jpeg"
        ><img       class=""
      src="/img/user/attachments/HA-network-smb%201.png"
      alt="attachments/HA-network-smb 1.png|HA-network-smb"
      width=""
      ></picture></p>
<p>Now we can jump into HA's <code>configuration.yaml</code></p>
<h3 id="ha-configuration-yaml" tabindex="-1">HA Configuration.yaml</h3>
<div class="callout " data-callout="important"><div class="callout-title"><div class="callout-title-inner"> Allow the directory<br></div></div>
<div class="callout-content">
<p>
Add the below snippet or you will get read permission issues. I added both the whole <code>/share</code> as well as the nested directory. You can chose either or both for your case.</p>
</div></div>
<pre><code class="language-yml">homeassistant:
  allowlist_external_dirs:
    - &quot;/share/html_codes&quot;
    - &quot;/share&quot;
</code></pre>
<h4 id="the-sensor" tabindex="-1">The Sensor</h4>
<p>If you already know what you're doing, you probably just skipped to this part</p>
<pre><code class="language-yml">sensor: 
- platform: file
name: html_code_analytics_file
file_path: /share/html_codes/logs/analytics.williamusic.com_login.log

- platform: template
sensors:
	html_code_makeagram:
		friendly_name: HTML Code Make a Gram
		value_template: &quot;{{ states('sensor.html_code_makeagram_file') | int(0) }}&quot;
		icon_template: &gt;-
			{% from 'html-status-icon.jinja' import html_status_icon %}
			{{ html_status_icon('sensor.html_code_makeagram_file') }}
</code></pre>
<p>You could just add the <code>platform: file</code> block and be done with it, but the <code>platform: template</code> adds a reactive icon as well as defaults the sensor to <code>0</code> if the file is <code>unkown</code> which makes readings in <a class="internal-link" target="" data-note-icon="" href="/developer/Home Lab 🏠/Grafana & InfluxDB/">developer/Home Lab 🏠/Grafana &amp; InfluxDB</a> much more simple.</p>
<p>Notice how I'm importing a reusable snippet for the <code>icon_template:</code> field, learn how with <a class="internal-link" target="" data-note-icon="" href="/developer/Home Assistant/Jinja Code Snippet/">developer/Home Assistant/Jinja Code Snippet</a></p>
<div class="callout " data-callout="info"><div class="callout-title"><div class="callout-title-inner"> Restart Home Assistant<br></div></div>
<div class="callout-content">
<p>
Sometimes a &quot;Quick Reload&quot; doesn't update all the sensors (especially the <code>platform: file</code>. Try &quot;Restart Home Assistant&quot; instead</p>
</div></div>
<h2 id="command-line-method" tabindex="-1">Command Line Method</h2>
<p>Although it's possible have Home assistant do everything from call the <code>curl</code> command to store the state, I'd recommend trying the <strong>Local File  + Template Sensor</strong> Method first as I had a lot of false <code>uknown</code> returns. Maybe I don't understand the syntax, or maybe command line</p>
<div class="callout " data-callout="warn"><div class="callout-title"><div class="callout-title-inner"> Home assistant &gt; 2023.8.0<br></div></div>
<div class="callout-content">
<p>
command_line sensors are now nested under <code>command_line:</code> <strong>NOT</strong> under <code>sensor: - platform: command_line</code></p>
<p>i've created a dedicated <code>command_line.yaml</code> file and import it into <code>configuration.yaml</code> like so <code>command_line: !include command_line.yaml</code></p>
</div></div>
<p>Here is the command that we will have run to return just the head status code. Test it out in your terminal, or home assistant's terminal. Change <code>https://www.williamusic.com</code> to you're own endpoint</p>
<pre><code class="language-shell"># return the header status code of a webpage. i.e. 200, 404, 500
curl -o /dev/null -s -w &quot;%{http_code}&quot; https://cutefruit.tawtaw.site/home

# here is another command I found that may work for you
curl -I https://www.williamusic.com 2&gt;/dev/null | head -n 1 | cut -d$' ' -f2
</code></pre>
<p>Assuming I still have this site running, you should get a number between 200 and 399.</p>
<h3 id="basic-configuration" tabindex="-1">Basic Configuration</h3>
<pre><code class="language-yml">command_line:
	- sensor:
	    name: BlessPress HTML Status
	    unique_id: html_status_blesspress
	    # chose one of the below 'command:' options
	    command: 'curl -o /dev/null -s -w ''%{http_code}'' https://www.williamusic.com'
	    command: 'curl -I https://www.williamusic.com 2&gt;/dev/null | head -n 1 | cut -d$'' '' -f2'
	    value_template: '{{ int(value, 404) }}'
	    scan_interval: 600
</code></pre>
<div class="callout " data-callout="tip"><div class="callout-title"><div class="callout-title-inner"> escape quotes<br></div></div>
<div class="callout-content">
<p>
You'll notice the command has changed a bit, there is double <code>'' ''</code>. This is because The command is already in quotes and they need to be escaped. This is <a href="https://www.home-assistant.io/integrations/command_line/" target="_blank" class="external-link">recommended by Home Assistant</a>. I tried using double quote <code>&quot;</code> but you'll have some intermittent problems so just stick with the goofy syntax.</p>
</div></div>
<div class="callout " data-callout="tip"><div class="callout-title"><div class="callout-title-inner"> Redirects<br></div></div>
<div class="callout-content">
<p>
Lets say your <code>curl</code>ing a admin dashboard that that redirects to a login page you may get a <code>302</code>. Still a positive status code, but you may want to add another condition range into your icon statement.</p>
<p>Also, if your base website <code>https://www.tawtaw.site/</code> redirects to a <code>/home</code> page, you'll want to put the URL as <code>https://www.tawtaw.site/home</code></p>
</div></div>
<p><code>value_template: '{{ int(value, 0) }}'</code> - Set return the value as a <em>integer</em> property. the <code>0</code> is a fallback default number if no number is found.</p>
<p><code>scan_interval</code> - is in seconds</p>
<p><code>unique_id</code> - for some reason this doesn't relate the entities id. Still working on this</p>
<h3 id="icon-based-on-status" tabindex="-1">Icon based on Status</h3>
<p>Add a bit more visual feedback with dynamic icons</p>
<pre><code class="language-yml">command_line:
	- sensor:
	    name: BlessPress HTML Status
	    unique_id: html_status_blesspress
	    command: 'curl -I https://blesspress.williamusic.com 2&gt;/dev/null | head -n 1 | cut -d$'' '' -f2'
	    value_template: '{{ int(value, 0) }}'
	    scan_interval: 600
	    icon: &gt;-
	      {% if int(value) == 0 %}
	        mdi:server-off
	      {% elif int(value) &gt; 199 and int(value) &lt; 400 %}
	        mdi:check-circle
	      {% elif int(value) &gt; 499 %}
	        mdi:alert-outline
	      {% else %}
	        mdi:help-rhombus-outline
	      {% endif %}
</code></pre>
<p>Don't let the syntax scare you here is the documentation</p>
<ul>
<li><a class="internal-link is-unresolved" href="/404" target="">Template</a> Designer Documentation — Jinja Documentation (3.2.x) (<a href="http://palletsprojects.com" target="_blank" class="external-link">palletsprojects.com</a>)</li>
<li><a class="internal-link is-unresolved" href="/404" target="">Templating</a> - Home Assistant (<a href="http://home-assistant.io" target="_blank" class="external-link">home-assistant.io</a>)</li>
</ul>
<p>I'll also break down what's happening line by line</p>
<pre><code class="language-yml">icon: &gt;-
	# check if the return value is 0, like an 'None' or 'undefined' check
	# set the icon to 'mdi:server-off'. You can browse the icons in the Lovelace UI and copy paste the name
	{% if int(value) == 0 %}
		mdi:server-off
		
		# is the value is in the 200-300 code range. Meaning the page is good
	{% elif int(value) &gt; 199 and int(value) &lt; 400 %}
		mdi:check-circle
		
		# if the value is in the 500 range or above. The page is up, but we are having server side error with the app
	{% elif int(value) &gt; 499 %}
		mdi:alert-outline
		
		# here is a catch all for anything else, denoted by a hazard ? symbol
	{% else %}
		mdi:help-rhombus-outline
	{% endif %}
</code></pre>
<p>Code split and reuse this icon code in a <a class="internal-link" target="" data-note-icon="" href="/developer/Home Assistant/Jinja Code Snippet/">developer/Home Assistant/Jinja Code Snippet</a></p>
<h2 id="alert-automations" tabindex="-1">Alert Automations</h2>
<p>Later I'll add some automation templates that alert my phone when a webpage goes down. Also would like to add a bit of color to these icons too in the future</p>
<h2 id="remove-old-stale-entities" tabindex="-1">Remove Old Stale Entities</h2>
<p>Through the trial and error, I had a few orphaned or <code>_2</code> appended entities that made the work flow rather annoying. Removing them isn't as simple as deleting the <code>.yaml</code> code.</p>
<p>In the <strong>Home Assistant UI</strong> find <strong>Developer Tools &gt; Services &gt; Recorder: Purge Entities</strong>. click &quot;Chose Entity&quot; to find the ones you want to rid of and &quot;Call Service&quot;</p>
<div class="callout " data-callout="tip"><div class="callout-title"><div class="callout-title-inner"> force refresh the window because your browser cache may hold onto those old entities</div></div>
<div class="callout-content">
<p>
</p></div></div>
<h2 id="credits" tabindex="-1">Credits</h2>
<ul>
<li><a class="internal-link is-unresolved" href="/404" target="">Template</a> sensors are still there after they are being removed - Configuration - Home Assistant Community (<a href="http://home-assistant.io" target="_blank" class="external-link">home-assistant.io</a>)</li>
<li><a href="https://stackoverflow.com/questions/38906626/curl-to-return-http-status-code-along-with-the-response" target="_blank" class="external-link">shell - Curl to return http status code along with the response - Stack Overflow</a></li>
<li><a class="internal-link is-unresolved" href="/404" target="">Command</a> Line - Home Assistant (<a href="http://home-assistant.io" target="_blank" class="external-link">home-assistant.io</a>)</li>
<li><a class="internal-link is-unresolved" href="/404" target="">icon_template</a> is an invalid option for [command_line</li>
<li><a href="https://community.home-assistant.io/u/BrendanMoran" target="_blank" class="external-link">BrendanMoran</a> - <a href="https://community.home-assistant.io/t/website-down-or-up/53919/8" target="_blank" class="external-link">template example</a></li>
<li><a href="https://community.home-assistant.io/u/sebdoan" target="_blank" class="external-link">sebdoan</a>- <a href="https://community.home-assistant.io/t/website-down-or-up/53919/9?u=billsky" target="_blank" class="external-link">template example</a></li>
<li><a class="internal-link is-unresolved" href="/404" target=""><a class="tag" onclick="toggleTagSearch(this)" data-content="#57">#57</a></a> Command Line Yaml Configuration has moved error FIXED </li>
<li><a class="internal-link is-unresolved" href="/404" target="">Change</a> icon color based on sensor value - Configuration - Home Assistant Community (<a href="http://home-assistant.io" target="_blank" class="external-link">home-assistant.io</a>)</li>
</ul>

      
      
    </main>

    

    
        <script>
      if (window.location.hash) {
        document.getElementById(window.location.hash.slice(1)).classList.add('referred');
      }
      window.addEventListener('hashchange', (evt) => {
        const oldParts = evt.oldURL.split("#");
        if (oldParts[1]) {
          document.getElementById(oldParts[1]).classList.remove('referred');
        }
        const newParts = evt.newURL.split("#");
        if (newParts[1]) {
          document.getElementById(newParts[1]).classList.add('referred');
        }
      }, false);
      const url_parts = window.location.href.split("#")
      const url = url_parts[0];
      const referrence = url_parts[1];
      document.querySelectorAll(".cm-s-obsidian > *[id]").forEach(function (el) {
        el.ondblclick = function(evt) {
          const ref_url = url + '#' + evt.target.id
          navigator.clipboard.writeText(ref_url);
      }
      });

      
    </script>
    <script src=" https://fastly.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js "></script>
<script defer>
    TIMESTAMP_FORMAT = "MMM dd, yyyy h:mm a";
    document.querySelectorAll('.human-date').forEach(function (el) {
        el.innerHTML = luxon.DateTime.fromISO(el.getAttribute('data-date') || el.innerText).toFormat(TIMESTAMP_FORMAT);
      });
</script>
    
    
    <script>
lucide.createIcons({
            attrs: {
                class: ["svg-icon"]
            }
        });
</script>
  </body>
</html>
