<!DOCTYPE html>
<html lang="en">
  <head>
    <title>TV Power and Switch Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://fastly.jsdelivr.net/npm/mermaid@9.4.0/dist/mermaid.min.js"></script>
<script>
    mermaid.initialize({
        startOnLoad: true,
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/prism.min.js" integrity="sha512-hpZ5pDCF2bRCweL5WoA0/N1elet1KYL5mx3LP555Eg/0ZguaHawxNvEjF6O3rufAChs16HVNhEc6blF/rZoowQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/plugins/autoloader/prism-autoloader.min.js" integrity="sha512-sv0slik/5O0JIPdLBCR2A3XDg/1U3WuDEheZfI/DI5n8Yqc3h5kjrnr46FGBNiUAJF7rE4LHKwQ/SoSLRKAxEA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdn.jsdelivr.net/npm/lucide@0.115.0/dist/umd/lucide.min.js"></script>
<script>
    // Create callout icons
    window.addEventListener("load", () => {
        document.querySelectorAll(".callout").forEach((elem) => {
            const icon = getComputedStyle(elem).getPropertyValue('--callout-icon');
            const iconName = icon && icon.trim().replace(/^lucide-/, "");

            if (iconName) {
                const calloutTitle = elem.querySelector(".callout-title");

                if (calloutTitle) {
                    const calloutIconContainer = document.createElement("div");
                    const calloutIcon = document.createElement("i");

                    calloutIconContainer.appendChild(calloutIcon);
                    calloutIcon.setAttribute("icon-name", iconName);
                    calloutIconContainer.setAttribute("class", "callout-icon");
                    calloutTitle.insertBefore(calloutIconContainer, calloutTitle.firstChild);
                }
            }
        });

        lucide.createIcons();

        // Collapse callouts
        Array.from(document.querySelectorAll(".callout.is-collapsible")).forEach((elem) => {
            elem.querySelector('.callout-title').addEventListener("click", (event) => {
                if (elem.classList.contains("is-collapsed")) {
                    elem.classList.remove("is-collapsed");
                } else {
                    elem.classList.add("is-collapsed");
                }
            });
        });
    });
</script>


<script src="https://fastly.jsdelivr.net/npm/force-graph@1.43.0/dist/force-graph.min.js"></script>

<script defer src="https://fastly.jsdelivr.net/npm/@alpinejs/persist@3.11.1/dist/cdn.min.js"></script>
<script src="https://fastly.jsdelivr.net/npm/alpinejs@3.11.1/dist/cdn.min.js" defer></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.25.0/themes/prism-okaidia.min.css" integrity="sha512-mIs9kKbaw6JZFfSuo+MovjU+Ntggfoj8RwAmJbVXQ5mkAX5LlgETQEweFPI18humSPHymTb5iikEOKWF7I8ncQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
<script src="https://fastly.jsdelivr.net/npm/whatwg-fetch@3.6.2/dist/fetch.umd.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<link href="/styles/digital-garden-base.css" rel="stylesheet">
    <link href="/styles/obsidian-base.css" rel="stylesheet">
    <link href="/styles/_theme.8f1d066a.css" rel="stylesheet">


<link href="/styles/custom-style.css" rel="stylesheet"><link href="/styles/user/pywrite.css" rel="stylesheet">
<link rel="icon" href="/favicon.ico" sizes="any">
<link rel="icon" href="/favicon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" href="/apple-touch-icon.png">
<link rel="manifest" href="/manifest.webmanifest">





<style></style>
    
      <script async src="https://soup.tawtaw.site/ramen" data-website-id="fa4f8c5b-4767-4821-b063-f62c4cb90223"></script>
    
    
  </head>
  <body class="theme-dark markdown-preview-view markdown-rendered markdown-preview-section ">
    
    
    
      
    <nav class="navbar">
        <div class="navbar-inner">
            <a href="/" style="text-decoration: none;">
                <h1 style="margin: 15px !important;">Pywrite Garden</h1>
            </a>
        </div>
        
    </nav>
    
    

    

    <main class="content cm-s-obsidian ">
      <header>
        
        <div class="header-meta">
          </div>
      
      
      </header>
      
      
      <p>A configuration for <a class="internal-link is-unresolved" href="/404" target="">Home Assistant</a></p>
<p>I wanted to create a card that reacts to the TV's power state.</p>
<ol>
<li>When the TV is on --&gt; show TV controls</li>
<li>When TV is off --&gt; hide TV controls</li>
<li>When TV is changing state --&gt; show transition activity animation (w color code)</li>
<li>TV controls:
<ol>
<li>an input source switcher (radio style buttons)</li>
<li>volume</li>
</ol>
</li>
</ol>
<h2 id="configuration" tabindex="-1">Configuration</h2>
<p><code>configuration.yml</code></p>
<pre><code class="language-yaml">switch:

  - platform: template
    scan_interval: 90000
    switches:
      moeits_conf_tv_back_wireless_power:
        value_template: &gt;
          {% if is_state(&quot;script.moeits_tv_back_off&quot;, &quot;on&quot;) %}
            off
          {% elif is_state(&quot;script.moeits_tv_back_on&quot;, &quot;on&quot;) %}
            on
          {% elif is_state(&quot;media_player.moeits_tv_back_wireless&quot;, &quot;on&quot;) %}
            on
          {% else %}
            off
          {% endif %}
        turn_on:
          - service: script.turn_on
            data:
              entity_id: script.moeits_tv_back_on
        turn_off:
          - service: script.turn_on
            data:
              entity_id: script.moeits_tv_back_off
        icon_template: &gt;-
          {% if is_state(&quot;script.moeits_tv_back_off&quot;, &quot;on&quot;) %}
            mdi:timer-sand
          {% elif is_state(&quot;script.moeits_tv_back_on&quot;, &quot;on&quot;) %}
            mdi:timer-sand
          {% elif is_state(&quot;media_player.moeits_tv_back_wireless&quot;, &quot;on&quot;) %}
            mdi:television
          {% else %}
            mdi:television-off
          {% endif %}
</code></pre>
<h3 id="helper-variable" tabindex="-1">Helper variable</h3>
<p>Needed a helper variable that holds the state of the current <strong>Input Source</strong> via <code>input_text.moeits_conf_tv_back_source</code></p>
<h3 id="scripts" tabindex="-1">Scripts</h3>
<p>Scripts handle the transition as well as make user feedback more robust.</p>
<ol>
<li>
<p><code>script.turn_on_tv</code></p>
<ol>
<li>send shell command to turn TV on via <a href="https://www.lifewire.com/hdmi-cec-4158343" target="_blank" class="external-link">HDMI-CEC</a></li>
<li>wait <code>10 seconds</code> (buffer to smoothly transition UI)</li>
</ol>
</li>
<li>
<p><code>script.turn_off_tv</code></p>
<ol>
<li>send shell command to turn TV off via <a href="https://www.lifewire.com/hdmi-cec-4158343" target="_blank" class="external-link">HDMI-CEC</a></li>
<li>wait <code>10 seconds</code> (buffer to smoothly transition UI)</li>
</ol>
</li>
<li>
<p><code>script.tv-setSource--ScreenBeam</code></p>
<ol>
<li>set our <strong>helper</strong> to the current input state</li>
<li>change input of 'media_player'</li>
</ol>
</li>
</ol>
<pre><code class="language-yml">alias: MOEITS-Conf-TV-Back--setSource-ScreenBeam
sequence:
  - service: input_text.set_value
    data:
      value: ScreenBeam
    target:
      entity_id: input_text.moeits_conf_tv_back_source
  - service: media_player.select_source
    data:
      source: ScreenBeam
    target:
      entity_id: media_player.moeits_tv_back_wireless
mode: single
icon: mdi:hdmi-port

</code></pre>
<ol start="4">
<li><code>script.tv-setSource--Bulletin</code>
<ol>
<li>set our <strong>helper</strong> to the current input state</li>
<li>change input of 'media_player'</li>
</ol>
</li>
</ol>
<pre><code class="language-yml">alias: MOEITS-Conf-TV-Back--setSource-Bulletin
sequence:
  - service: input_text.set_value
    data:
      value: Bulletin
    target:
      entity_id: input_text.moeits_conf_tv_back_source
  - service: media_player.select_source
    data:
      source: Bulletin
    target:
      entity_id: media_player.moeits_tv_back_wireless
mode: single
icon: mdi:hdmi-port

</code></pre>
<h2 id="lovelace-card" tabindex="-1">lovelace Card</h2>
<pre><code class="language-yml">type: vertical-stack
cards:
  - type: vertical-stack
    cards:
      - type: entities
        entities:
          - entity: switch.moeits_conf_tv_back_wireless_power
            icon: ''
            name: Back TV
  - type: conditional
    conditions:
      - entity: media_player.moeits_tv_back_wireless
        state: 'on'
    card:
      type: vertical-stack
      cards:
        - type: custom:mini-media-player
          entity: media_player.moeits_tv_back_wireless
          group: false
          source: full
          sound_mode: full
          info: short
          name: ' '
          volume_stateless: false
          toggle_power: false
        - type: horizontal-stack
          cards:
            - type: custom:button-card
              entity: input_text.moeits_conf_tv_back_source
              name: ScreenBeam
              icon: mdi:hdmi-port
              tap_action:
                action: call-service
                service: script.moeits_conf_tv_back_source_screenbeam
                service_data:
                  entity_id: input_text.moeits_conf_tv_back_source
              show_state: false
              styles:
                icon:
                  - color: |
                      [[[
                        if (entity.state == 'ScreenBeam') return 'lightgreen';
                        else return 'grey';
                      |[
                        if (entity.state == 'ScreenBeam') return 'lightgreen';
                        else return 'grey';
                      ]]]
            - type: custom:button-card
              entity: input_text.moeits_conf_tv_back_source
              name: Bulletin
              icon: mdi:hdmi-port
              tap_action:
                action: call-service
                service: script.moeits_conf_tv_back_setsource_bulletin
                service_data:
                  entity_id: input_text.moeits_conf_tv_back_source
              show_state: false
              styles:
                icon:
                  - color: |
                      [[[
                        if (entity.state == 'Bulletin') return 'lightgreen';
                        else return 'grey';
                      |[
                        if (entity.state == 'Bulletin') return 'lightgreen';
                        else return 'grey';
                      ]]]


</code></pre>
<p><a class="internal-link is-unresolved" href="/404" target="">developer_box📦</a></p>

      
      
    </main>

    

    
        <script>
      if (window.location.hash) {
        document.getElementById(window.location.hash.slice(1)).classList.add('referred');
      }
      window.addEventListener('hashchange', (evt) => {
        const oldParts = evt.oldURL.split("#");
        if (oldParts[1]) {
          document.getElementById(oldParts[1]).classList.remove('referred');
        }
        const newParts = evt.newURL.split("#");
        if (newParts[1]) {
          document.getElementById(newParts[1]).classList.add('referred');
        }
      }, false);
      const url_parts = window.location.href.split("#")
      const url = url_parts[0];
      const referrence = url_parts[1];
      document.querySelectorAll(".cm-s-obsidian > *[id]").forEach(function (el) {
        el.ondblclick = function(evt) {
          const ref_url = url + '#' + evt.target.id
          navigator.clipboard.writeText(ref_url);
      }
      });

      
    </script>
    <script src=" https://fastly.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js "></script>
<script defer>
    TIMESTAMP_FORMAT = "MMM dd, yyyy h:mm a";
    document.querySelectorAll('.human-date').forEach(function (el) {
        el.innerHTML = luxon.DateTime.fromISO(el.getAttribute('data-date') || el.innerText).toFormat(TIMESTAMP_FORMAT);
      });
</script>
    
    
    <script>
lucide.createIcons({
            attrs: {
                class: ["svg-icon"]
            }
        });
</script>
  </body>
</html>
